*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 0rem 0 2rem 0;
  gap: 1.5rem;
}

.cover-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}